@CHARSET "UTF-8";

#main {
	background-color: rgb(245, 245, 245);
	border: solid black 1px;
	width: 700px;
	height: 600px;
	top: 20px;
	border-radius: 3px;
}

#contactBox {
	height: 100%;
	width: 250px;
	float: left;
}

#separatorNigga {
	background-color: black;
	height: 100%;
	width: 3px;
	float: left;
}

#messageBox {
	width: 447px;
	height: 100%;
	float: left;
	height: 100%;
}