@CHARSET "UTF-8";

#searchArea {
	background-color: silver;
	height: 33px;
	border-bottom: solid black 1px;
}

#contactArea {
	height: 567px;
}

#contactArea div {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	font-size: larger;
	font-weight: bold;
}

div.unselectedContact {
	background-color: antiquewhite;
	border: solid white 2px;
}

div.selectedContact {
	background-color: lemonchiffon;
	border: solid red 2px;
}

.foundSymbols {
	background-color: yellow;
}

#searchInput {
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 3%;
}

.searchInputClear {
	width: 92%;	
}

.searchInputDirty {
	width: 80%;		
}

#btnClear{
	border-radius : 4px;
	height: 23px;
	float: right;
	width: 9%;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-right: 3%;
}