@CHARSET "UTF-8";

#outputArea {
	height: 75%;
	border-bottom: solid black 1px;
	overflow-y: auto;
}

.messageBox {
	width: 65%;
	margin: 5px;
	border-radius: 5px;
}

.myContainer {
	float: right;
	margin: 5px;
	padding: 5px;
	width: 65%;
}

.myMessage {
	padding: 5px;
	word-wrap: break-word;
	text-align: right;
	border: solid green 1px;
	border-radius: 5px;
	background-color: darkseagreen;
}

.otherContainer {
	float: left;
	margin: 5px;
	width: 65%;
}

.otherMessage {
	padding: 5px;
	word-wrap: break-word;
	text-align: left;
	border: solid blue 1px;
	border-radius: 5px;
	background-color: lavender;
}

.headDate {
	font-size: 10px;
	font-style: italic;
}

#inputArea {
	height: 20%;
}

#sendArea {
	height: 5%;
}

#inputText {
	margin: 5px;
	margin-left: 2%;
	width: 95%;
	height: 90%;
}

#sendButton {
	height: 80%;
	border-radius: 5px;
	float: right;
	margin: 2px;
	margin-right: 7px;
	margin-right: 2%;
}